<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/wishlist">Wishlist</a></li> <!-- Link for Wishlist -->
            <li><a href="/about">About</a></li>
            <!-- Logout Button -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- Hidden Logout Form -->
    <form id="logout-form" action="/logout" method="post" style="display: none;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</body>
</html>
