<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5KA5pwKTAh5QCWt4gxIM+M5kL8Ad6zSW5P2nJ" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
  integrity="sha384-MCw2wE6qj2cPAJlr5+K4qfVjOwEPd9l+7+9zQsv6uZpa4hFRgL4ZfwfG4fwo3t9z" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-pzjw8f+BD9SYl7yCU9Mw/rVXG9RREB6j8wk9gq5qvc4xl9+to/Sa6of2IzoF8Ifi" crossorigin="anonymous">
</script>
