<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookclub | Welcome</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
    <!-- Include header fragment -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Content for the home page goes here -->
    <h1>Welcome to the Bookclub application!</h1>

    <!-- Updated content to display the list of books -->
    <h2>Top Books</h2>
    <div th:each="book : ${books}">
        <div>
            <h3 th:text="${book.title}"></h3>
            <p th:text="${book.description}"></p>
            <p>Authors: <span th:text="${book.authors}"></span></p>
            <a th:href="@{'/' + ${book.isbn}}">View Details</a>
        </div>
    </div>

    <!-- Include footer fragment -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>

